<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; @DateTime.Now.Year - Ventixe</p>
            </div>
        </div>
    </div>
</footer>