@model LoginViewModel

@{
    ViewData["Title"] = "Log in to your account";
}


<form asp-controller="Auth" asp-action="Login" method="post" novalidate>
    <input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />

    <div class="card auth-card">

        <div class="card-header auth-title">
            <h2>@ViewData["Title"]</h2>
        </div>

        <div class="auth-card-body card-body">

            @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
            {
                <div class="form-errormessage">
                    @ViewBag?.ErrorMessage
                </div>
            }

            <div class="form-group">
                <input class="form-input" asp-for="Email" />
                <span class="auth-validation" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input class="form-input" asp-for="Password" />
                <span class="auth-validation" asp-validation-for="Password"></span>
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>

            <div class="form-group">
                <div class="checkbox">
                    <label class="auth-form-checkbox">
                        <input asp-for="IsPersistent" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="form-label">Remember me?</label>
                </div>
            </div>

        </div>

        <div class="card-footer additional-info center">
            <span>Not a member yet?</span>
            <a asp-controller="Auth" asp-action="SignUp">Sign up</a>
        </div>

    </div>
</form>

