@model SignUpConfirmAccountViewModel

<div>
    <h3>Verify account</h3>
    <p>Enter the 6 digit code sent to your email</p>
</div>

<form asp-controller="Auth" asp-action="HandleSignUpConfirmAccount" method="post" novalidate>
    <input type="hidden" asp-for="Email" value="@TempData["Email"]?.ToString()" />

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="form-errormessage">
            @ViewBag.ErrorMessage
        </div>
    }
    <div class="form-group">
        <input asp-for="VerificationCode" maxlength="6" />
    </div>
    <button type="submit" class="btn btn-primary">Continue</button>
</form>