<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Ventixe. All rights reserved.</p>
                <p>
                    Follow us on:
                    <a href="https://www.facebook.com/ventixe" target="_blank">Facebook</a> |
                    <a href="https://www.twitter.com/ventixe" target="_blank">Twitter</a> |
                    <a href="https://www.instagram.com/ventixe" target="_blank">Instagram</a>
                </p>
            </div>
        </div>
    </div>
</footer>