<footer>
    <div class="container">
        <div class="row">
                <div class="policy-container"> 
                <p>&copy; 2023 Ventixe. All rights reserved.</p>
                    <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a> 
                    <a asp-action="Terms" asp-controller="Home">Terms of Service</a> 
                    <a asp-action="Contact" asp-controller="Home">Contact Us</a>
                </div>
                <div class="social-icons">
                    <img src="~/Images/Icons/Footer/FacebookLogo.svg" alt="Facebook" />
                    <img src="~/Images/Icons/Footer/InstagramLogo.svg" alt="Instagram" />
                    <img src="~/Images/Icons/Footer/YoutubeLogo.png" alt="Youtube" />
                    <img src="~/Images/Icons/Footer/LinkedinLogo.svg" alt="Linkedin" />
                </div>
            </div>
        </div>
</footer>
