<header>
    <div class="header">
        <div class="header__logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/images/logo.png" alt="Ventixe Logo" />
            </a>
        </div>
        <div class="header">
          
        </div>
    </div>
</header>