<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ventixe.MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="portal-wrapper">
        <header>
            <h1>Page title</h1>
        </header>
        <nav class="sidebar">
            <h1>Ventixe</h1>
            <ul>
                <li><a>Menu item 1</a></li>
                <li><a>Menu item 2</a></li>
                <li><a>Menu item 3</a></li>
                <li><a>Menu item 4</a></li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer>&copy; Ventixe 2025</footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
