<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ventixe.MVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="portal-wrapper">
        
        <partial name="Partials/_SidebarPartial">

        <header>
            <h4>Page title</h4>
            <span>Message</span>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
                Copyright &copy; 2025 Ventixe
        </footer>

    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
