<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(!string.IsNullOrEmpty(ViewData["Title"]?.ToString())
            ? $"{ViewData["Title"]} - Ventixe Inc."
            : "Ventixe Inc.")
    </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ventixe.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>

    <div class="portal-wrapper">
        <div class="sidebar">
            <partial name="Partials/_Sidebar" /> @* två sätt att göra detta på  *@
        </div>

        <div class="wrapper">
            @await Html.PartialAsync("Partials/_Header") @* andra sättet *@ 
        </div>


        <main>
            @RenderBody()
        </main>

        @await Html.PartialAsync("Partials/_Footer")

    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>